.search-button {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  transition: all 0.25s ease-in-out;

  width: 100px;
  height: 35px;
  background: $purple;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  @include text-button;
  color: $white;

  &:hover {
    background: $black;
  }

  &:active {
    background: $purple;
  }

  &:disabled {
    background: $gray-3;
  }
}
