.break-rules {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__warning {
    width: 100%;
    @include heading-1;
    font-weight: normal;
    color: $black;
  }

  &__query {
    font-weight: bold;
  }

  &__list-rules {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__list-rules-item {
    width: 100%;
    @include heading-1;
    font-weight: normal;
    color: $black;
  }

  &__suggestions {
    width: 100%;
    margin-top: 20px;
  }
}
