@mixin logo-heading {
  font-style: normal;
  font-weight: 900;
  font-size: $logo-heading-font-size;
  line-height: $logo-heading-line-height;
}

@mixin heading-1 {
  font-style: normal;
  font-weight: bold;
  font-size: $heading-1-font-size;
  line-height: $heading-1-line-height;
}

@mixin text-1 {
  font-style: normal;
  font-weight: normal;
  font-size: $text-1-font-size;
  line-height: $text-1-line-height;
}

@mixin text-2 {
  font-style: normal;
  font-weight: 300;
  font-size: $text-2-font-size;
  line-height: $text-2-line-height;
}

@mixin text-button {
  font-style: normal;
  font-weight: bold;
  font-size: $text-button-font-size;
  line-height: $text-button-line-height;

  text-transform: uppercase;
  font-feature-settings: 'cpsp' on;
}

@mixin text-result {
  font-style: normal;
  font-weight: bold;
  font-size: $text-result-font-size;
  line-height: $text-result-line-height;
}

@mixin text-tab {
  font-style: normal;
  font-weight: bold;
  font-size: $text-tab-font-size;
  line-height: $text-tab-line-height;

  text-transform: uppercase;
}

@mixin link {
  font-style: normal;
  font-weight: normal;
  font-size: $link-font-size;
  line-height: $link-line-height;
}
