// colors
$white: #FFFFFF;
$black: #2D3948;
$purple: #702EDA;
$hit-pink: #FEA388;
$gray-3: #828282;

// fonts
$logo-heading-font-size: 200px;
$logo-heading-line-height: 234px;

$logo-heading-font-size-tablet: 125px;
$logo-heading-line-height-tablet: 146px;

$logo-heading-font-size-mobile: 75px;
$logo-heading-line-height-mobile: 88px;

$logo-heading-font-size-small: 30px;
$logo-heading-line-height-small: 35px;

$heading-1-font-size: 18px;
$heading-1-line-height: 21px;

$text-1-font-size: 14px;
$text-1-line-height: 16px;

$text-2-font-size: 12px;
$text-2-line-height: 14px;

$text-button-font-size: 12px;
$text-button-line-height: 14px;

$text-result-font-size: 16px;
$text-result-line-height: 19px;

$text-tab-font-size: 11px;
$text-tab-line-height: 13px;

$link-font-size: 10px;
$link-line-height: 12px;

// grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1600px,
);
