// colors
$white: #FFFFFF;
$black: #2D3948;
$purple: #702EDA;
$gray-3: #828282;

// fonts
$logo-heading-font-size: 200px;
$logo-heading-line-height: 234px;

$text-1-font-size: 14px;
$text-1-line-height: 16px;

$text-2-font-size: 12px;
$text-2-line-height: 14px;

$text-button-font-size: 12px;
$text-button-line-height: 14px;

// grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1600px,
);
