// colors
$white: #FFFFFF;
$black: #2D3948;

// fonts
$logo-heading-font-size: 200px;
$logo-heading-line-height: 234px;

// grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1600px,
);
